@media (min-width:1400) {
    html{
        font-size: 187.5%;
    }
}
@media (max-width:1400px) {
    html{
        font-size: 112.5%;
        max-width: 100%;
    }
    body{
        width: 100%;
        max-width: 100%;
    }
    /* .containar{
        width: 100%;
        max-width: 100%;
    } */
}
@media (max-width:768px) {
    .mari{
        
    }
}